@font-face {
  font-family: 'Eurostile';
  src: url("/font/eurostile_extended_black.ttf");
}

body {
  background-color: white;
  margin: 0;
  padding: 0;
}

body img {
  width: 770px;
  height: 610px;
  margin-top: 15px;
  margin-left: 372px;
}

.container {
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: #2C2C2C;
  -webkit-box-shadow: 0 4px 8px 0 #5c5c5c, 0 6px 20px 0 #5c5c5c;
          box-shadow: 0 4px 8px 0 #5c5c5c, 0 6px 20px 0 #5c5c5c;
  border-radius: 50px;
  padding-bottom: 20px;
  width: 320px;
}

.container .display {
  width: 100%;
  height: 60px;
  padding: 30px 0;
  background-color: #C5C9BA;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
}

.container .display p {
  margin-top: -20px;
  color: #11110F;
  padding-left: 200px;
  padding-bottom: 10px;
  font-family: 'Eurostile';
  font-weight: bolder;
}

.container .display input[type=text] {
  width: 270px;
  height: 60px;
  float: left;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: none;
  background: none;
  color: #11110F;
  text-align: right;
  font-weight: 700;
  font-size: 60px;
  line-height: 60px;
  margin: 0 25px;
}

.container .button {
  padding: 20px 20px 0 20px;
}

.container .button .row {
  width: 280px;
  float: left;
}

.container .button .row input[type=button] {
  width: 60px;
  height: 60px;
  float: left;
  padding: 0;
  margin: 5px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: #e1ebea;
  border: none;
  font-size: 30px;
  line-height: 30px;
  border-radius: 50%;
  font-weight: 700;
  color: #303030;
  cursor: pointer;
}
/*# sourceMappingURL=style.css.map */